body {
  margin: 0;
  padding: 0;
  background: #E3F8E1;
  height: calc(100vh - 120px);
}

.img-seize {
  max-width:600px;
  max-height: 600px;
  min-width: 300px;
  min-height: 300px;
}

.containerMargin {
  margin-top: 120px;
}

.imgCover {
  object-fit: cover;
  height: 547px;
  width: 547px;
}

.div-seize {
  width: 600px;
  height: 600px;
}

.inptPlaceholder::placeholder {
  color: #28a745;
  opacity: 1;
}

